<h6> solo respuestas lindas😘</h6>

<form class="row" (ngSubmit)="emitCharacter()">

  <input
    type="text"
    [(ngModel)]="character.name"
    name="name"
    class="form-control mb-4"
    placeholder="ingresa tu respuesta">

    <h6> que tan segura estas de tu respuesta?</h6>

  <input
    type="number"
    [(ngModel)]="character.power"
    name="power"
    class="form-control mb-4"
    placeholder="Poder">

  <button type="submit" class="btn btn-primary">
    Agregar დ
  </button>

  <!-- <pre>{{ character | json }}</pre> -->

</form>
